
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,500&display=swap');



body {
  margin: 0;
  font-size: 13px;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

.mobile-display {
  display: none;
}

#content .width {
  margin: 0 auto;
  max-width: 100%;
}

.table-wrapper {
  width: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  border-color: grey;
}

#content table thead th {
  background-color: #ffd800;
  color: #000;
  padding: 14px 10px;
  text-align: left;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

#content table td {
  padding: 10px;
  text-align: left;
}

@media only screen and (min-width: 1224px) {
  #content .width {
    max-width: 1224px;
  }
}

/** Main Css**/

a {
  outline: none;
}

.ui-link {
  color: #f7d702 !important;
  font-weight: 700;
  text-decoration: none;
  outline: none;
}

.table-list table {
  font-size: 1em;
  clear: both;
  background-color: #101010;
  border: 1px solid #2b2b2b;
  color: #fff;
  width: 100%;
  margin-top: 5px;
  border-spacing: 0;
}

#content .table-list table th:first-child {
  width: 150px;
}

#content .table-list table td {
  border-bottom: #2b2b2b 1px solid;
  padding: 12px 8px;
}

#content .table-list table th {
  padding: 15px 8px;
  text-transform: uppercase;
}

.con_box * {
  box-sizing: border-box;
}

.modal_select {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.options {
  width: 33%;
  margin-bottom: 7px;
  margin-right: 5px;
}

.options:last-child {
  margin-right: 0px;
}

.options select {
  border: 0;
  background: #fff;
  height: 44px;
  padding: 5px 15px;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
}

.brand_title {
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
  text-align: center;
  background: #2b2b2b;
  border: 1px solid #2b2b2b;
}

#titleFieldFromXml {
  font-weight: 700;
  margin: 5px 0;
}

.brand_title p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin: 0;
}

.mt_tab {
  margin: 0 0 30px;
  width: 100%;
  float: left;
}

.byPrice_modal {
  border: 1px solid #ffd800;
  margin: 15px 0;
  width: 100%;
  float: left;
}

.byPrice_modal a {
  display: inline-block;
  background-color: #4d4d4d;
  color: #fff !important;
  text-decoration: none;
  width: 50%;
  float: left;
  text-align: center;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: 700 !important;
}

.byPrice_modal a:hover, .byPrice_modal a:focus {
  background-color: #7c7878;
}

.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.body {
  width: 150px;
  text-align: center !important;
}

#regFormMobile {
  /* width: 40%; */
  width: 30%;
  margin: auto;
}

.byPrice_modal a.btn_active {
  background-color: #ffd800;
  color: #000 !important;
}

.tax_info {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #000;
}

.tax_info h4 {
  text-transform: capitalize;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 15px;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.tax_info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tax_info ul li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
}

.tax_info ul li:last-child {
  border-bottom: 0;
}

.series_select.active {
  display: block!important;
  visibility: visible!important;
}

.tab {
  display: none;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 11111;
  /* Sit on top */
  /* padding-top: 100px; */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.mobile-landscape-display {
  display: none;
}

.modal-content {
    background-color: #2b2b2f;
    margin: auto;
    padding: 20px;
    border: 1px solid #ffd800;
    max-width: 100%;
    width: 100%;
}
.modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    margin: auto;
}
/* The Close Button */

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.close:hover, .close:focus {
  color: #ffd800;
  text-decoration: none;
  cursor: pointer;
}

.tab1 {
  display: block;
}
@media screen and (max-width: 768px) {
#content .table-list table tbody td, #content .table-list table thead th{
	font-size: 0.9em;
	text-shadow: none;
}
}
@media screen and (max-width: 767px) {
  #regFormMobile {
    width: 90%;
    margin: 0 auto;
  }
  .mobile-landscape-display {
    display: block;
  }
  .desktop-display {
    display: none;
  }
  #content .table-list table th:first-child {
    /* width: auto; */
  }
  .modal-dialog {
    width: 91%;
    margin: auto;
  }
  /* .modal { */
    /* padding-top: 40px; */
  /* } */
  .options {
    width: 65%;
    margin: 0 auto;
  }
  #content .width {
    padding: 0 15px;
  }
  #content .table-list table th {
    font-size: 9px;
    text-align: left;
    white-space: nowrap;
    /* padding: 12px 5px; */
  }
  #content .table-list table th:nth-child(2) {
    /* width: 140px; */
    /* text-align: center; */
  }
  #content .table-list table td {
    font-size: 10px;
    text-align: left;
    /* padding: 12px 5px; */
  }
  .mt_tab {
    margin-bottom: 20px;
  }
  .modal_select {
    flex-direction: column;
  }
  .table-list table {
    margin-bottom: 15px;
  }
  .options:last-child {
    margin-right: auto;
  }
}

@media screen and (max-width: 425px) {
  .mobile-landscape-display {
    display: none;
  }
  .desktop-display {
    display: none;
  }
  /* .modal { */
    /* padding-top: 50%; */
  /* } */
  .mobile-display {
    display: block;
  }
  .options {
    width: 65%;
    margin: 0 auto;
  }
  .drs-text {
    display: none;
  }
  .gvw-text {
    display: none;
  }
  #content .table-list table tbody td {
    display: none;
    /* text-align: center; */
    white-space: nowrap;
    font-size: 14px;
    padding: 12px;
  }
  #content .table-list table thead th {
    display: none;
    text-align: center;
    font-size: 14px;
    padding: 12px;
  }
   
  #content .table-list table .mobile-show {
    display: table-cell;
    width: 50%;
	white-space: normal;
  }
  
  #content .table-list table td:last-child {
    border-bottom: #2b2b2b 1px solid
  }
}

.pagination {
  display: inline-block;
  margin: 15px auto;
}

.pagination a {
  color: #fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 6px;
  margin: 5px 2px;
  transition: background-color .3s;
  border: 1px solid #aaa;
}

.pagination a.active {
  background-color: #ffd800;
  color: #000 !important;
  border: 1px solid #ffd800;
}

.pagination a:hover:not(.active) {
  background-color: #ffd800;
  color: #000 !important;
}

.pagination-wrap {
  text-align: center;
  white-space: nowrap;
}

select {
  font-size: 50px;
}

.options .ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
  background-color: transparent !important;
}

.modal-open {overflow: hidden;}

@media (max-width: 767px) {
	#content .mobile-show.col-md-5{
		text-align: left;
	}
  #content .width {
    max-width: 100%;
    padding: 0;
  }
}

.passenger, .commercial {
  background-color: #4d4d4d;
  color: #fff !important
}

/**/
.ui-select .ui-btn select {left: -1px!important; width: calc(100% + 2px)!important;}

#header-fixed {  
    position: fixed; 
	display: none;
	top: -5px;
	text-align: left !important;
}

table.items .col-md-1,
table#header-fixed .col-md-1{
	width: 80px;
	
}
table.items .col-md-2,
table#header-fixed .col-md-2{
	width: 100px;
	
}
table.items .col-md-3,
table#header-fixed .col-md-3{
	width: 150px;
	
}
table.items .col-md-4,
table#header-fixed .col-md-4{
	width: 230px;
	
}
table.items .col-md-5,
table#header-fixed .col-md-5{
	width: 280px;
}
table.items .text-right,
table#header-fixed .text-right{
	text-align: right !important;
}
#content .table-list .op-varnt{
	background: #4d4d4d;
}
#content .table-list .op-varnt td{
	color: #fff;
}
#content .table-list .op-varnt a {
	color: #fff;
}
#modelDetails_0 ul li strong{
	color: #ffd800;
}
.activeTr {
    color: #fff;
	background-color: #4d4d4d;
}
.hideModelDetails th:first-child {
    width: 110px !important;
}
.hideModelDetails {
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
@media (max-width:575px) {
.hideModelDetails td, .hideModelDetails th, #list-data .table-list .dataLeft {
    font-size: 1.2em !important;
}
}


/***menu_pass_comm****/
.menu_pass_comm .nav{    list-style: none;padding-left: 7px;
    width: 100%;  float: left; padding-right: 7px;}
.menu_pass_comm .nav li{width: 50%; background: #4d4d4d; float: left; text-align: center;font-size: 1em;
    line-height: 1.3;border-radius: 0; font-family: 'Poppins', sans-serif; padding: 15px; border: 1px solid #ffd800;}
.menu_pass_comm .nav li.active{background: #ffd800;}
.menu_pass_comm .nav li.active a{color: #000!important;}
.menu_pass_comm .nav li a{color: #ffd800!important;  font-weight: bold;}
.ui_pass_comm{    width: 33%; padding: 0 7px; display: inline-block;}
.menu_pass_comm .tab-content {width: 100%;text-align: center;}
.menu_pass_comm .ui-select > div { border-radius: 0px;}
