.topBar { 
    width: 100%;
    background-color: #ffd800;
}

.ui-block-a {
    width: 40%;
    background-color: #ffd800; 
}

.ui-block-b {
    width: 20%;
}

.ui-block-c {
    width: 40%;
    background-color: #000000;
}

.ui-body-b {
    background-color: #ffd800;
}

.ui-controlgroup-controls {
    width: 100%;
}

#dw-control-group .ui-controlgroup-controls {
    width: 100%;
	font-family: 'Poppins', sans-serif;
}
#dw-control-group .ui-controlgroup-controls a { border-radius: 0; font-family: 'Poppins', sans-serif;padding:15px;}
.ui-radio {}

.dw-radio-btn {
    width: 40%;
    float: left;
}

/* .res_desc { */
    /* float: left; */
    /* text-align: right; */
    /* width: 49%; */
/* } */

/* .res_res { */
    /* float: right; */
    /* width: 49%; */
/* } */

.text-left {
    text-align: left !important;
}

.res_res>span {
    float: left;
    margin: 0px !important;
    text-align: left !important;
}

.buttonGo {
    position: relative;
    /* left: 50%; */
    width: 80px;
    margin-left: -40px;
}

.buttonLogin {
    position: relative;
    left: 50%;
    width: 190px;
    margin-left: -95px;
}

.buttonBack {
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 10px;
    width: 80px;
}

.ui-body-b {
    border-color: #ffd800;
    color: #ffd800;
}

.ui-body-a {
    text-align: center;
    color: #ffd800;
}

.ui-block-a .ui-body-b {
    padding: 0.2em 0.2em;
}

.ui-block-b .ui-body-b {
    padding: 0.2em 0.2em;
}

.ui-block-c .ui-body-b {
    padding: 0.2em 0.2em;
}

.leftIcon {
    height: 40px;
    float: left;
}

.centerIcon {
    height: 40px;
    position: relative;
    left: 50%;
    margin-left: -20px;
}

.rightIcon {
    height: 40px;
    float: right;
}

/*Login page*/

.log-in-form {
    margin-top: 100px;
}

.log-in-form>p>ui-btn {
    background-color: #ffd800 !important;
}

.dw-yellow {
    /*background-color: #ffd800 !important;
    color: #000000;*/
}

/*result page*/

.emphasize2 {
    font-size: 18px;
    font-weight: normal;
    margin: 15px;
}

.emphasize3 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.emphasize4 {
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
}

.tiny_text {
    font-size: 10px;
}

.right {
    float: right;
}

/*forms*/

.ui-input-text input {
    line-height: 1.9em;
    text-align: center;
    color: #ffffff;
}

.ui-input-text {
    border-color: #ffd800 !important;
    color: #ffffff;
}

.ui-input-btn input {
    /* opacity:1 !important;    */
}

/*footer*/

.guide_footer {
    position: relative;
    box-sizing: border-box;
    color: #4d4d4d;
    line-height: 14px;
    padding: 6px;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid;
    border-color: #4d4d4d;
}
.footer_right a {
    color: #4d4d4d;
}

.footer_right {
    float: right;
    text-align: right;
}
.guide_footer .footer_left{padding-bottom: 20px;}
.guide_footer .footer_left {
		width: 100%;
	float: left;
}
.guide_footer .footer_left , .guide_footer .footer_right{text-align: justify;}

.guide_footer .footer_left strong{font-weight: 700;}



.guide_footer .footer_right{
	text-align: right;
}

.ui-content {
    min-height: auto;
}

/******************************************/

.emphasize2 {
    font-size: 14px;
    font-weight: normal;
    margin: 12px;
}

.emphasize3 {
    font-size: 16px;
    font-weight: bold;
    margin: 12px;
}

.emphasize4 {
    font-size: 20px;
    font-weight: bold;
    margin: 12px;
}

.tiny_text {
    font-size: 9px;
}
/**Changes**/
.ui-content *{box-sizing:border-box;font-family: 'Poppins', sans-serif;}
.menu_group {margin-left:-5px; margin-right:-7px; margin-top:7px; text-align:left;}
.menu_group .ui-select { width: 33.33%; float:left; padding:0 7px;}
/* .menu_group .ui-input-text{clear:both; margin:7px 5px 0; display:inline-block; width:calc(33.33% - 14px); border-radius: 0;} */
.menu_group .ui-input-text {
    clear: both;
    margin: 10px 85px 0;
    display: inline-block;
    width: calc(33.33% - 14%);
    border-radius: 0;
}
@media(max-width:1200px){
	.menu_group .ui-input-text {
    clear: both;
    margin: 7px 45px 0;
    display: inline-block;
    width: calc(33.33% - 10%);
    border-radius: 0;
}
}
@media(max-width:767px){
	.menu_group .ui-input-text{margin:7px 5px 0;width:calc(33.33% - 14px);} 
}
.menu_group .ui-select .ui-btn{border-radius:0; font-weight:400; }

.btn_centre { text-align: center;margin: 30px 0 0px; }
.buttonGo {margin:15px 0 0;}
.btn_centre .buttonGo { margin: 0; left: unset; }
.buttonBack, .buttonGo{ cursor:pointer;left: auto; }

table { border-spacing: 0; border-color: grey; border-collapse: collapse;}
.table_ui table th { background-color: #ffd800; color: #000; padding: 14px 10px; text-align: left; text-transform: uppercase; font-size: 14px;}
.table_ui table td { border-bottom: #2b2b2b 1px solid; padding: 12px!important;}

.carTable td{border-bottom: #2b2b2b 1px solid}

.carForm { width: 30%; margin: 5px 24px; float: left;}

/********loader Css******/
.ui-loading:before {
    content: ''; 
    background: rgba(0,0,0,.4);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 11;
}
/******/

/*@media screen and (device-aspect-ratio: 40/71), @media screen and (device-aspect-ratio: 2/3) {*/

@media screen and (device-aspect-ratio: 40/71) {
    .dw-radio-btn {
        width: 38%;
    }
}

@media (max-width:1024px){
.carForm{
	width: 100%;
    /* float: none; */
    max-width: 50%;
    margin: 5px 0;
    /* clear: both; */
	}
}
@media (max-width:767px){
	.hideModelDetails .vr table {
    margin-bottom: 0px;
}
}
@media (max-width:575px){
.carForm { max-width: 100%;}

}
/*}*/


/*---------------
css changes
-------------------*/
.emphasize2 .ui-link{
	color: #fff !important;
}
.ui-mobile-viewport .ui-body.ui-body-a.ui-corner-all {
    max-width: 500px;
    margin: auto;
    text-align: center;
}
.button-back{
	height: 50px;
}
.button-circle button {
    width: 100%;
    max-width: 80px;
    height: 80px;
    border-radius: 50% !important;
    margin: 20px auto !important;
    background: transparent;
	text-transform: capitalize;
	font-size: 19px;
	border: 1px solid #ffd800;
	transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;	
	padding: 5px;
}
.button-circle button:hover{
	 background: #ffd800;
	 color: #000;
}
.button-square button:hover{
	 background: #4d4d4d;
	 color: #000;
}
.focusmobile_regscreen .button-square button{
	 background: #4d4d4d;
	 color: #000;
	 cursor: pointer;
}
.focusmobile_regscreen .button-square button:hover{
	 background: transparent;
}
.button-square button:hover img{ 
filter: saturate(3);
}
.button-square button {
    width: 100%;
    max-width: 80px;
    height: 80px;
    margin: 20px auto;
    background: transparent;
    text-transform: capitalize;
    font-size: 18px;
    border: 1px solid #ffd800;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    padding: 5px;
    transform: rotate(45deg);
	border-radius: 0;
}
.button-square button span {
    transform: rotate(-45deg);
    display: block;

}
.button-square button img {
   width: 100%;
   max-width: 50%;
   
}
.button-circle.login-pge .buttonLogin {
	left: 0;
}

.dis-blk .buttonBack{
	    float: none;
}
.dis-blk .btn_centre{    width: 100%;
    float: left;}
.button1.adjustme{width: 100%; height: 100%;background: #1e0505 !important; color: #ffd800 !important;}
.adjust_btn_archiv .ui-btn.ui-input-btn {
    background: #4d4d4d!important;
    color: #fff!important;
    width: 100%;
    max-width: 100px;
    height: 100px;
    line-height: 100px;
    padding: 0;
    border-radius: 50px;
    text-align: center;
    margin: 30px auto 0;
}
.adjust_btn_archiv .ui-btn.ui-input-btn:hover{background: transparent!important;}
.button1.adjustme{background: transparent!important;}
.adjust_btn_archiv .ui-btn.ui-input-btn:hover, .adjust_btn_archiv .ui-btn.ui-input-btn:visited, .adjust_btn_archiv .ui-btn.ui-input-btn:focus, .adjust_btn_archiv .ui-btn.ui-input-btn:active{text-shadow: none;box-shadow: none;}
.rotate_icn {
    max-width: 20px;
    margin-right: 10px;
	width: 100%;
}

div#resultCarMakeModel, div#resultCommMakeModel, div#resultCarMakeModel {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 1em;
}
.focusmobile_regscreen{display: none;}
.license-expire {
	max-width: 500px;
    margin: auto;
    text-align: center;
    background: #4d4d4d;
    text-align: center;
    border-radius: 10px;
    position: relative;
    padding: 1em;
    overflow: hidden;
    display: block;
    clear: both;
    border-color: #6b6b6b;
    font-size: 1em;
    line-height: 1.3;
}
.licence_expire h2{ margin-top: 0;}
.licence_link span{color: #ffd800;}
.licence_expire a, .licence_link{color: #fff !important;}
@media(max-width: 767px){
	.focusmobile_regscreen{display: block;}
}
@media(max-width: 520px){
	.menu_group .ui-select {width: 100%;}
	.menu_group .ui-input-text {
    width: calc(100% - 14px);
    margin: 7px 8px 0;
    text-align: center;
    display: inline-block;
}
}
.mobile-display{
	color: #fff;
}
@media(max-width: 425px){
	.mobile-display {
    display: flex;
    align-items: start;
	justify-content: center;
}
}


 
 /* Small Devices, Tablets */
 @media only screen and (max-width : 767px){	
/* #regFormMobile, #regResult{height: calc(100vh - 20px);} */
/* #regResult{ transform: translate(0%, 20%)} */	
 }


 /****filter option****/
 .text-field.filter_opt {display: flex;}
 .text-field.filter_opt select{padding: 15px 8px}
 .text-field.filter_opt .col{margin-right: 5px}
 .text-field.filter_opt .col:last-child{margin-right: 0px}
.filter_opt .col-md-1{width: 80px;}
.filter_opt .col-md-2{width: 150px;}
.filter_opt .col-md-5{width: 280px;}
 
 .filter_opt .ui-btn{    background: transparent;
    color: #000;
    text-shadow: none;
    font-size: inherit;
    margin: inherit;
    padding: inherit;
    display: inherit;
    position: relative;
    text-align: inherit;
    overflow: inherit;}
.filter_opt .ui-btn:hover, .filter_opt .ui-btn:focus{ background: transparent;  color: #000; border: 0;}
.filter_opt .ui-icon-carat-d:after{background: url(../themes/images/icons-png/downarrow.png) no-repeat right;
    background-size: contain;
    width: 18px;
}

/*******pfd pages****/
.ui-content {
    min-height: auto;
    width: 100%;
    height: 100%;
    padding: 1em 0em;
}

.car_pdf{	
	display: inline-block;
    height: 100%;
    overflow: auto;
    width: 100%;
    min-height: 100%;
    background: transparent;
}
.car_pdf iframe{
	min-height: 530px;
	border: none;
}
.car_pdf iframe html{ height: 100%;}
.car_pdf .purview_view{	
background-color: rgb(0 0 0);
}

.mobile-display{
	color: #fff;
}


@media(max-width: 767px){
.ui-content {padding: 1em;box-sizing: border-box;}
}

.pdficons, .pdficonss, .pdficon {
	margin:10px auto 0;
	max-width: 500px;
    position: relative;
}

.left_pannel_email {
    margin-top: 20px;
    font-size: 0.83rem;
    color: #d2d2d2;
}
